Repository bengry/typedash: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "src/**/*.{js,ts}"
      run: pnpm lint:linter:fix {staged_files}
    format:
      glob: "{*.*,**/*.*}"
      run: pnpm lint:format:fix {staged_files}

migrate package manager from yarn to pnpm
  .github/actions/pnpm-nm-install/action.yml
  .github/actions/yarn-nm-install/action.yml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .gitignore
  .husky/commit-msg
  .husky/common.sh
  .yarnrc.yml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  biome.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: format

build(deps): bump pnpm from 9.0.0 to 10.15.1
  package.json
Due: format

build: add taze for dependency management
  package.json
  pnpm-lock.yaml
Due: format

build: simplify taze configuration
  package.json
  taze.config.ts
Due: format

build(deps): upgrade Vitest to v3.2.4
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  taze.config.ts
Due: format

build: upgrade dependencies and apply lint fixes
  biome.json
  package.json
  pnpm-lock.yaml
  src/functions/assert/assert.ts
  src/functions/ensurePrefix/ensurePrefix.ts
  src/functions/ensureSuffix/ensureSuffix.ts
  src/functions/isEqual/testSuits.spec.ts
  src/functions/isNonNullable/isNonNullable.spec.ts
  src/functions/noop/noop.ts
  src/functions/omit/omit.spec.ts
  src/functions/pick/pick.spec.ts
  src/types/ObjectPath.ts
  taze.config.ts
Due: lint, format

build: update lefthook integration scripts
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
Due: format

build: migrate from tsup to tsdown
  package.json
  pnpm-lock.yaml
  tsdown.config.ts
Due: format

build: migrate from husky to lefthook
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  .husky/commit-msg
  .husky/common.sh
  lefthook.yml
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: format

feat: update CI to use pnpm/action-setup@v4 with optimized caching
  .github/actions/pnpm-nm-install/action.yml
Due: format

fix(pnpm): fix lockfile
  pnpm-lock.yaml
Due: format

fix(isEqual): extract React-specific equality logic and fix React 19 compatibility
  package.json
  src/functions/isEqual/_internal/object/areObjectsEqual.ts
  src/functions/isEqual/_internal/react/areReactElementsEqual.ts
  src/functions/isEqual/_internal/react/index.ts
  src/functions/isEqual/_internal/react/isReactElement.ts
  src/functions/isEqual/_internal/react/reactInternalProperties.ts
Due: lint, format

ci: remove redundant Node.js setup step
  .github/workflows/ci.yml
Due: format

build: require Node.js >= 20
  package.json
Due: format

build(deps): bump lefthook from 1 to 2
  package.json
  pnpm-lock.yaml
Due: format

build(deps): bump commitlint from 19 to 20
  package.json
  pnpm-lock.yaml
Due: format

build: use Node.js v24 (latest LTS) for development
  .nvmrc
Due: format

build(deps): bump vitest from 3 to 4
  package.json
  pnpm-lock.yaml
Due: format

build(deps): deduplicate lockfile after upgrades
  pnpm-lock.yaml
Due: format

build(deps): bump type-fest from 4 to 5
  package.json
  pnpm-lock.yaml
  src/functions/objectKeys/objectKeys.ts
Due: lint, format

build(deps): bump tsdown from 0.15 to 0.20
  package.json
  pnpm-lock.yaml
Due: format

Upgrade major dependencies (#40)
  .nvmrc
  package.json
  pnpm-lock.yaml
  src/functions/objectKeys/objectKeys.ts
Due: lint, format

chore: repo housekeeping and Claude Code config
  .claude/settings.local.json
  .claude/skills/commit-conventions/SKILL.md
  .github/workflows/update-copyright-year.yml
  .gitignore
Due: format

chore: upgrade dev dependencies and apply formatter fixes
  biome.json
  package.json
  pnpm-lock.yaml
  src/functions/isEqual/isEqual.spec.ts
  src/types/EmptyObject.ts
Due: lint, format

chore: gitignore Claude Code local settings
  .claude/settings.local.json
  .gitignore
Due: format

chore: repo housekeeping and dev dependency upgrades (#41)
  .claude/skills/commit-conventions/SKILL.md
  .github/workflows/update-copyright-year.yml
  .gitignore
  biome.json
  package.json
  pnpm-lock.yaml
  src/functions/isEqual/isEqual.spec.ts
  src/types/EmptyObject.ts
Due: lint, format

chore: repo housekeeping and Claude Code config
  .claude/settings.local.json
Due: format

chore: gitignore Claude Code local settings
  .claude/settings.local.json
Due: format

chore: update copyright year workflow to use PR with auto-merge
  .github/workflows/update-copyright-year.yml
Due: format

chore: format CLAUDE.md
  CLAUDE.md
Due: format

Repo housekeeping and CI improvements (#42)
  .github/workflows/update-copyright-year.yml
  CLAUDE.md
Due: format

chore: update copyright year to $(date +'%Y')
  LICENSE
Due: none

chore: update copyright year to 2026 and simplify workflow
  .github/workflows/update-copyright-year.yml
  LICENSE
Due: format

Update copyright year and simplify workflow (#44)
  .github/workflows/update-copyright-year.yml
  LICENSE
Due: format

chore: replace commitizen with czg
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: format

chore: replace commitizen with czg (#45)
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: format

feat: add `startCase` function
  src/functions/index.ts
  src/functions/startCase/index.ts
  src/functions/startCase/startCase.spec.ts
  src/functions/startCase/startCase.ts
Due: lint, format

feat: add `startCase` function (#46)
  src/functions/index.ts
  src/functions/startCase/index.ts
  src/functions/startCase/startCase.spec.ts
  src/functions/startCase/startCase.ts
Due: lint, format

feat: add shuffle function
  src/functions/index.ts
  src/functions/shuffle/index.ts
  src/functions/shuffle/shuffle.spec.ts
  src/functions/shuffle/shuffle.ts
Due: lint, format

feat: add shuffle function (#48)
  src/functions/index.ts
  src/functions/shuffle/index.ts
  src/functions/shuffle/shuffle.spec.ts
  src/functions/shuffle/shuffle.ts
Due: lint, format
